<h1>Jobs</h1>
<input id="search" type="text" name="Search"><br>
<table id="jobs-table" class="table table-bordered">
	<thead>
	
		<th>ID</th> 
		<th>Name</th> 
		<th>Phone</th> 
		<th>Email</th> 
		<th>Status</th> 
		
	</thead>
	<tbody>
		<%= render @jobs %>
	</tbody>
</table>
