<center><h1>Active Jobs</h1></center>
<input id="search" type="text" name="Search" placeholder="Search"><br><br>
<table id="jobs-table" class="table table-bordered">
	<thead>
	
		<th width="150">Name</th> 
		<th width="150">Phone</th>
		<th width="100">City</th> 
		<th width="100">Employee</th>
		<th width="125">Date</th> 
		<th width="75">Time</th> 
		<th width="175">Status</th>
		<th width="700">Description</th> 
		<th width="10">Edit</th>
		<th width="10">Delete</th>	
		
	</thead>
	<tbody>
		<%= render @jobs %>
	</tbody>
</table>
