<center><h1>Customers</h1></center>
<input id="customer-search" type="text" name="Search" placeholder="Search"><br><br>
<p>
	<%= link_to "Create Customer", new_customer_path, class: "btn btn-primary btn-sm" %>
</p>
<table id="customers" class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th> 
			<th>Company</th> 
			<th>Account Number</th> 
			<th>Phone One</th> 
			<th width="10"></th> 
			<th width="10"></th> 
			<th width="10"></th> 
			<th width="10"></th>
		</tr>	
	</thead>

	<tbody>
		<%= render @customers %>
	</tbody>
</table>
