<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The Final Touch Security, LLC</h1>
    <h2>Receipt # <%= @receipt.job.id %></h2>
    <p>Description:</p>
    <p><%= @receipt.information %></p>
    <br><br>
    <p>Thank You For Your Business!<p>
    <p>Phone: 662-429-0653<p>
  </body>
</html>