#can{
	border:2px solid;
	background-color:#ffffff;
	cursor: crosshair;
}

ul#menu li {
    display:inline;
}

#green{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:green;
}
#blue{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:blue;
}
#red{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:red;	
}
#yellow{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:yellow;	
}
#orange{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:orange;	
}
#black{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:black;	
}
#white{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	width:40px;height:40px;background:white;
}

#clr{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width:80px;height:40px;
}
