<tr>
	<td><%= account.id %></td>
	<td><%= account.line_number %></td>
	<td><%= account.number %></td>
	<td><input type="text" name="name" id="name" value="<%= account.name %>"></td>
	<td><button type="button" class="btn btn-primary btn-sm" onclick="saveAccountInformation(this)">Update</button></td> 
</tr>