<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h2>Batch Create Account Numbers</h2>
				<%= form_tag "/accounts" do %>
					<fieldset>
						<div class = "form-group">
							Line Number
							<input type="text" name="line_number" class="form-control">
						</div>
						
						<div class = "form-group">
							Starting Number
							<input type="text" name="start_value" class="form-control">
						</div>
						
						<div class = "form-group">
							Ending Number
							<input type="text" name="end_value" class="form-control">
						</div>

						<div class = "form-group">
							<input type="submit" value="Submit" class="btn btn-primary btn-sm">
						</div>
					</fieldset>
				<% end %> 
		</div>
	</div>
</div>




